*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}
main{
    padding: 20px;
}

#slidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffff;
    height: 100vh;
    border-radius: 0px,18px.18px,0px;
}

#slidebar_content{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos{
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child{
    color: #6b6b6b;
    font-size: 12px;
}

#side-itens{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-itens{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;

}

.side-iten.active{
    background-color: #4f46e5;
}

.side-itens:hover:not(.active){
    background-color: #e3e9f7;
}