/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
}

:root {
    --bg-color: #ffffff;
    --prim-color: #4EAAE8;
    --sec-color: #eef6fc;
    --ter-color: #a3d0ef;
    --accents: #d9d9d9;
    --font-color1: #000000;
    --font-color2: #ffffff;
}

#app {
    display: flex;
    font-family: Inter;
}

/* Barra lateral */
#sidebar {
    background-color: var(--prim-color);
    color: var(--font-color2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    position: fixed;
}

.logo {
    height: 5em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: var(--ter-color);
}

/* Seção principal */
.main {
    border: 1em var(--prim-color) solid;
    border-right: 0;
    padding: 1em 3em 0 9em;
    gap: 3em;
}

.button {
    border: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > div {
    display: flex;
    gap: 2em;
}

#filtro {
    display: flex;
    justify-content: space-between;
    margin: 1em 7em 1em 0;
}

.input {
    background-color: var(--accents);
    border: none;
    border-radius: 10px;
    height: 2rem;
}

form > input {
    border: none;
    background-color: inherit;
}

#btn-busca {
    background-color: var(--accents);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* Lista de todos os pacientes */
.btn-geral {
    color: var(--font-color2);
    background-color: var(--prim-color);
    border: none;
    border-radius: 15px;
    padding: 0.5em;
    box-shadow: var(--accents) 0 2px 5px;
}

.btn-geral:hover {
    background-color: var(--sec-color);
    color: var(--font-color1);
}

#grade-pac {
    display: flex;
    flex-wrap: wrap;
}

#btn-busca:hover {
    background-color: var(--ter-color);
}

/* Card de paciente */
.card {
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--sec-color);
    display: flex;
    box-shadow: var(--accents) 0 5px 10px;
    margin-bottom: 1em;
    /*Não sei se é melhor aplicar um monte de flex pela página ou 
    trabalhar com grid... O display fica sujeito à mudanças. */
}

.card:hover {
    background-color: var(--ter-color);
}

.quadrado {
    width: 17%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 2em;
}

.pac-icon {
    height: 7rem;
    width: 7rem;
    border-radius: 12.5px;
    margin-right: 2em;
}

.quad {
    width: 10em;
    height: 10em;
    margin-right: 0;
}

.espaco {
    margin: 1rem;
}

/* Seção de agenda. */
#calend {
    background-color: var(--sec-color);
    border: 1em var(--prim-color) solid; /* Ver se tem um jeito mais eficiente de fazer essa borda entre as seções */
    border-left: 0;
    border-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#calend > input {
    accent-color: var(--sec-color);
}

/* Calendário. A estilização ficaria aqui se a gente tivesse um calendário. */
#calendario-placeholder {
    width: 15rem;
}

#btn-add-task {
    background-color: var(--ter-color);
    color: var(--font-color2);
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    font-size: x-large;
}

#btn-add-task:hover {
    background-color: var(--prim-color);
}
